.sobre_container {
    padding: 20px 0px 50px;
    background-color: rgb(232, 232, 232);

}

.sobre_container h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    
}
.sobre_container p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.4em;
    margin-bottom: 5%;
}
.cards_funcionarios {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
