.nav  {
    padding: 20px 0px 1px 0px;
    background-color: black;
    
}
.nav ul {
    display: flex;
    justify-content: space-evenly;
    
}

.nav li {
    list-style: none;
    text-decoration: none;
}
.item a {
    text-decoration: none;
    font-size: 1.6em;
    color: #4fff4f;
    font-weight: bold;
}
.item:hover {
    transition: 0.4s;
    transform: scale(1.1);
}


.carrinho img{
    width: 100%;
    border-radius: 100%;
    border: #000;
    margin-top: -15px;

}
.carrinho img:hover {
    transition: 0.6s;
    transform: scale(1.1);
}
.carrinho {
    width: 7%;
    
}


