.card {
    border:2px solid #000;
    border-radius: 25px;
    width: 230px;
    height: 300px;
    padding: 60px 20px 70px;   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 1% 5% 1%;
}
.card:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.card p {
    color: #4fff4f;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
}
.card img {
    border-radius: 30px;
}